<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
        <div class="content">
            <div class="card">
                <h1>Top 15 Things to do When You are Bored</h1>
                <h2>Are you bored? Don't know what to do? Try these top 15 activities.</h2>
                <p>Chase ball of string eat plants, meow, and throw up because I ate plants going to catch the red dot today going to catch the red dot today. I could pee on this if I had the energy. Chew iPad power cord steal the warm chair right after you get up for purr for no reason leave hair everywhere, decide to want nothing to do with my owner today.</p>
            </div>
        </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in London.</p>
</footer>
</html>